# Ignorar entorno virtual
venv/

# Ignorar archivos temporales de Python
__pycache__/
*.py[cod]

# Ignorar configuraciones específicas del sistema operativo
.DS_Store
Thumbs.db

# Ignorar logs y caché
*.log
*.cache

# Ignorar archivos de Jupyter Notebook
*.ipynb_checkpoints

# Ignorar datos sensibles
*.pkl
